*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

input{
    border-radius: 8px;
    background-color: aqua;
    color: brown;
    padding: 5px;
    margin-bottom: 20px;
    width: 200px;
    font-size: 14px;
    font-weight: 900;
    
}

button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: yellow;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(115, 255, 0);
}

button:hover{
    box-shadow: 3px 2px 7px 2px green;
}