*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    width: 100%;
    list-style-type: none;
    background-color: red;
}
a{
    text-decoration: none;
}
li{
    float: left;
    width: 100%;
}
.dropbtn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.dropdown{
    display: inline-block;
    color: black;
}
.content{
    display: none;
    background-color: yellowgreen;
    z-index: 1 ;
}
.content a {
    color: black;
    padding: 12px 26px;
    display: block;
    text-align: left;

}
