*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    width: 100vw;
    height: 100vh;
}
.Pagination{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

a{
  
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 8px;
    color: blue;
    background-color: yellowgreen;
    text-decoration: none;
    font-weight: bold;
}