*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px;
    background-color: green;
    color: yellow;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 10px;
}
.item{
    margin: 10px;
    padding: 10px;
    background-color: rgb(44, 99, 99);
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 801px) and (max-width: 2000px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
}